
<a href="/profile" class="btn btn-dark">Profile</a>
<a href="/recommendations" class="btn btn-dark">Recommendations</a>


<form action="/logout" method="POST">
<button type="submit">Log Out</button>

<h1>Plipa Connections</h1>
{{#if user}}






{{else}}

  <p>You need to be logged in</p>

{{/if}}