
<head>
    <link rel="stylesheet" href="/stylesheets/forms.css" />
</head>

<div class="loginArea">
   
   <label for='email'>Email
     <input type='email' class="login" name='email'>
   </label>
   <label> Password
     <input type="password" class="login" name="password">
   </label>
   <button type="submit">Submit</button>
    </form>
</div>


{{#if errorMessage}}
   {{errorMessage}}
{{/if}}


