<div class="loginArea">

   
   <form action="/login" method="POST">
   <label for='email'>Email
      <input type='email' class="login" name='email'>
   </label>
   <label> Password
      <input type="password" class="login" name="password">
   </label>


   <button class="submitBtn" type="submit">Submit</button>
   </form>
</div>






{{#if errorMessage}}
   {{errorMessage}}
{{/if}}