<head>
    <link rel="stylesheet" href="/stylesheets/index.css" />
</head>


<div class="iDiv1">
<img class="iLogo" src="/images/orange.png" width="100px">

<div class="iDiv2">


<p class="iDescription">
    <span>Looking for someone that wants to play board games?</span>
    <span>SIGN UP</span>
    <span>To find users that want to play the same games as you</span>
    
</p>


<img class="iImages" src="/images/fun.png" width="100px"> 

