<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

  <a href="/login" class="btn btn-dark">Login</a>
  <a href="/signup" class="btn btn-dark">Sign Up</a>



<ol>
    {{#each games}}
    <li>{{name}}</li>
    {{/each}}
</ol>