.divConnetions{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divConnetions>p {
    text-align: center;
}

h1, h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
<<<<<<< HEAD
}
=======
}
>>>>>>> a96ae0dfd8b3027215282b741b331678dc1f2ef7
