/* //////////////LOG IN FORM//////////// */

.loginArea{
    justify-content: center;
    /* background-color: blue; */
    display: flex;
    justify-content: center;
    margin-top: 10%; 

}

.loginArea form {
    align-items: center;
}
.login{
    width: 20rem;
    height: 1.5rem;
    border-color: white;
    border-radius: 0.5rem;

}
.login-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
/* .submitBtn{
    margin-top: 100px;
} */
/* ///////////SUBMIT BUTTON/////////////// */

.submitBtn{
    background: #FF7962;
    color: white;
    border-color: white;
    font-size: 1.2rem;
    border-radius: 0.5rem;  
}

/* /////////////SIGN UP FORM/////////////// */
.signUpList{
    margin-top: 10%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.signUpList ul{
    margin-left:auto;
    margin-right:auto;
    width: 100px;
    list-style-type: none;
    margin-top: 1%;  
    
}
.signUpList label{
    margin-left:auto;
    margin-right:auto;
    width: 100px;
}

.submitBtnsignUp{
    margin-left: 49.5%;
    width: 100px;
    margin-top: 1%;
    background: #FF7962;
    color: white;
    border-color: white;

   
}