body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: #ff6347;
  font-family: 'Poppins', sans-serif;
  display: grid;
  
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vw;
  background-color: white;
}

.navLinks{
  display: flex;
  justify-content: space-around;
  width: 50%;
  list-style-type: none;
}

.navLinks a{
  color: #FF6347;
  text-decoration: none;
  letter-spacing: 3px;
  list-style-type: none;
  font-size: 1.5rem;
}
.logout{
  background: #FF7962;
  color: white;
  border-color: white;
  
  
}




 /* /////////GAME BOXES///////////////////////////// */
 .boxes-games{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
	align-content: space-around;
 }
 
 .box-game {
  text-align: center;
  border: 2px solid #EEE;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 2px 2px 10px 0 #EEE;
  margin: 50px 1% 0 1%;
  padding: 20px;
  width: 35%;
}

 .box-game>img {
/*   height: 140px;
  width: 140px;
  margin-left: 20px;
  margin-right: 20px; */


  
  margin: auto;
  display: block;
  max-width:35vw;
  max-height: 35vh;
  width: auto;
  height: auto;
}