
{{#if loggedInUser}}
  <h1>Connections</h1>

<div class="connetions">

  {{#each gamesMatch}}
  <p>Name: {{username}} </p>
  
  <form action="/connections/add/{{_id}}" method="post">
    <button type="submit">Add</button>
  </form>
  
  {{/each}}

</div>



{{else}}
<h1>Connections Page</h1>



  <p>You need to be logged in</p>

{{/if}}