{{#if loggedInUser}}
  <h1>Connections</h1>

<div class="connetions">

  {{#each gamesMatch}}
  <p>Name: {{username}} </p>
  <button id="addFriend" class="addFriend" onclick="addFriend()">Add</button>
  {{/each}}

 
</div>



{{else}}
<h1>Connections Page</h1>



  <p>You need to be logged in</p>

{{/if}}
<script type="text/x-handlebars-template" id="myTempId">
    function addFriend() {
    alert("lol")

  }
</script>