
<div class="divConnetions">
  <h1>Users that want to play the same games as you:</h1>
  <h2>(Follow them to have their discord information)</h2>

  {{#each gamesMatch}}
  <p>Username: {{username}} </p>
  
  <form  class="follow-form-btn" action="/connections/add/{{_id}}" method="post">
    <button type="submit">Follow</button>
  </form>
  
  {{/each}}

</div>


