
<div class="divConnetions">
  <h1>Users that want to play the same games as you:</h1>
  <h2>(Follow them to have their discord information)</h2>

  {{#each gamesMatch}}
  <p><span class="username-color">Username:</span> {{username}} </p>
  
  <form   action="/connections/add/{{_id}}" method="post">
    <button class="followFormBtn" type="submit">Follow</button>
  </form>
  
  {{/each}}

</div>


